/* 
black - #232122
green - #A5C05B
grey - #DDDEDE
blue-ish - #7BA4A8
*/

html {
  font-family: 'Roboto', sans-serif;
}

header {
  padding-top: 1%;
  padding-bottom: 1%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  border-bottom: 1px solid #DDDEDE;
}

main {
  padding: 5%;
}

footer {
  padding: 5%;
}

h3 {
  font-size: 30px;
  color: #232122;
}

.logo {
  padding: 0.1%;
  padding-left: 1vw;
  padding-right: 3vw;
  margin-right: 2vw;
  text-align: center;
  width: 17%;
  border-right: 1px solid #232122;
}

@media (max-width: 730px) {
  .logo {
    width: 6%;
  }
}

.navbar {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;

}

.searchbar {
  display: flex;
  width: 45vw;
  height: 70%;
  border: 1px solid #232122;
  border-radius: 5px;
  /* margin-left: 5%; */
  /* up to 1085 */
  justify-content: left;
  margin-right: 2vw;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.searchbar input {
  margin-left: 5px;
  width: 100%; 
  border: none;
  outline: none;
  color: #525c5c;
  border-radius: 5px;
}


.userlogin {
  margin-left: auto;
  color: black;
  font-size: 22px;
  font-weight: lighter;
}

.userregister {
  margin-left: 1%;
  color: #232122;
  font-size: 22px;
  font-weight: lighter;
}

.location {
  margin-right: 1vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 16px;
  text-wrap: nowrap;
  cursor: pointer;
}

@media (max-width: 1210px){
  .location {
    font-size: 0px;
  }
}

.category_searchbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 1100px;
  margin-bottom: 15vh;
}

@media (max-width: 1200px){
  .category_searchbox {
    width: 90vw;
  }
}

.category {
  width: 29%;
  min-width: 167px;
  border: 1px solid #232122;
  background-color: #fdfdfd;
  padding: 1.5%;
  margin: 3px;
  border-radius: 5px;
  text-align: center;
  text-wrap: nowrap;
  font-size: larger;
}

.category a {
  text-decoration: none;
  color:#232122;
}

@media (max-width: 727px){
  .category {
    min-height: 65px;
    padding-top: 5%;
    padding-bottom: 0.5%;
  }
}

.remarkable_listings { 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90vw;
}

.listing {
  height: 350px;
  width: 300px;
  padding: 0.3%;
  /*border: 1px solid #f3f3f3;*/
  border-radius: 10px;
  margin: 3px;
  color: #232122;
}

.listing:hover {
  box-shadow: 3px 3px rgb(201, 208, 209);
  box-shadow: 3px 3px 6px rgb(238, 244, 245), -3px -3px 6px rgb(238, 244, 245), -3px 3px 6px rgb(238, 244, 245), 3px -3px 6px rgb(238, 244, 245);
}

.listing_photo {
  width: 270px;
  height: 200px;
  align-content: center;
  border-radius: 10px;
  object-fit: cover;
}

.price_section {
  display: flex;
  height: 30px;
}

.heart_listing {
  content: url("img/heart_outline_black.png");
  height: 25px; 
  padding: 2%;
  margin-left: auto; 
}

.heart_listing:hover {
  content: url("img/heart_outline_orange.png");
  border: 1px solid #DDDEDE;
  padding: 2%;
  border-radius: 40%;
}

.listing h4 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: larger;
}

.listing h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5%;
}

.listing h6 {
  margin-top: 3%;
  color: #525c5c;
}

.listing_page {
  display: flex;
  margin-left: 5%;
  align-items: top;
}

.listing_page_photo {
  width: 800px;
  height: 600px;
  align-content: center;
  border-radius: 10px;
  object-fit: cover;
}

.listing_info {
  margin-left: 1%;
  max-width: 500px;
  
}

.listing_info h4 {
  font-size: 22px;
  margin-bottom: 3%;
}

.site_footer {
  display: flex;
  align-items: center;
}

.site_footer .footer_useragreement {
  text-align: right;
  margin-left: auto;
}
